/*Fondo Oscuro y Texto Claro */
body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a; 
  color: #e0e0e0; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh; /* Asegura que cubra toda la altura */
}

/*Contenedor principal */
#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/*Estilos para los títulos */
h1, h2, h3 {
  color: #42b883; /* El verde oficial de Vue (resalta mucho en negro) */
}

/*Inputs y Tablas*/
input {
  background-color: #2c2c2c;
  border: 1px solid #42b883;
  color: white;
  padding: 8px;
  border-radius: 4px;
}

button {
  cursor: pointer;
}